
body {
    front-family: Arial, sans-serif;
    margin: 1 cm;
}

h1 {
    text-align: center;
    margin-bottom: 1cm;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: black;
    color: white;
}

a {
    color: blue;
}